/* -----------------------------------------------------------------------------

  PROCESS COMPONENT
  
----------------------------------------------------------------------------- */

.c-process {
  padding: 24px 0;
  text-align: center;

  @include mq-large {
    padding: 48px 0;
  }
}

.c-process__image {
  margin: 0 auto 24px auto;

  @include mq-large {
    margin: 0 auto 48px auto;
  }
}

.c-process__title {
  margin-bottom: 12px;
  color: $color--neutral-dark;
  font-size: $font-size--m;
  text-transform: uppercase;

  @include mq-large {
    font-size: $font-size--l;
  }
}