/* -----------------------------------------------------------------------------

  HERO COMPONENT
  
----------------------------------------------------------------------------- */

.c-hero {
  background-color: $color--neutral-dark;
  text-align: center;
}

/**
 * The heading.
 */

.c-hero__heading {
  color: #fff;
  font-size: $font-size--l;
  text-transform: uppercase;
}

/**
 * The sub heading.
 */

.c-hero__sub-heading {
  color: $color--slate;
  font-weight: 400;
  text-transform: uppercase;
}

/**
 * Text
 */

.c-hero__text {
  color: #fff;
}

/**
 * Hero special... i.e. on the home page.
 */

.c-hero--special {

  .c-hero__inner {
    display: flex;
    flex-direction: column;

    @include mq-medium {
      flex-direction: row;
      align-items: center;
    }
  }

  .c-hero__heading {
    margin-bottom: 24px;
    font-size: $font-size--xl;

    @include mq-medium {
      flex: 0 0 288px;
      margin-bottom: 0;
      padding-right: 24px;
      text-align: right;
    }

    @include mq-large {
      flex: 0 0 384px;
      padding-right: 36px;
      font-size: $font-size--xxl;
    }

    @include mq-xlarge {
      flex: 0 0 480px;
      padding-right: 48px;
      font-size: $font-size--xxxl;
    }
  }

  .c-hero__content {
    @include mq-medium {
      padding: 24px 0 24px 48px;
      text-align: right;
      border-left: solid 1px $color--dark-slate;
    }

    @include mq-large {
      padding: 48px 0 48px 96px;
    }
  }

  .c-hero__sub-heading {
    margin-bottom: 12px;
    font-size: $font-size--m;
  }

  .c-hero__text {
    margin-bottom: 24px;

    @include mq-large {
      margin-bottom: 48px;
    }
  }

}

/**
 * Hero normal... i.e. on all other pages.
 */

.c-hero--normal {

  .c-hero__heading {
    @include mq-medium {
      font-size: $font-size--xl;
    }
  }
  
}