// -----------------------------------------------------------------------------
//
// FONT FAMILIES
//
// -----------------------------------------------------------------------------

$font-family--primary: "Montserrat", Helvetica, sans-serif;





// -----------------------------------------------------------------------------
//
// FONT SIZES
//
// -----------------------------------------------------------------------------

$font-size--xs: 12px;
$font-size--s: 14px;
$font-size--m: 18px;
$font-size--l: 22px;
$font-size--xl: 28px;
$font-size--xxl: 42px;
$font-size--xxxl: 48px;
$font-size--xxxxl: 60px;





// -----------------------------------------------------------------------------
//
// LINE HEIGHTS
//
// -----------------------------------------------------------------------------
// 

$lh--s: 1.1;
$lh--m: 1.5;
$lh--l: 2;





// -----------------------------------------------------------------------------
//
// COLORS
//
// -----------------------------------------------------------------------------

$color--neutral-dark: rgb(52, 52, 52);

$color--green: rgb(170, 210, 100);
$color--dark-green: rgb(85, 159, 65);

$color--purple: rgb(188, 157, 216);
$color--dark-purple: rgb(83, 60, 159);

$color--slate: rgb(150, 170, 150);
$color--dark-slate: rgb(95, 108, 95);




// -----------------------------------------------------------------------------
//
// BREAKPOINTS
//
// -----------------------------------------------------------------------------

$bp--xsmall: 320px;
$bp--small: 480px;
$bp--medium: 720px;
$bp--large: 1020px;
$bp--xlarge: 1200px;