/* -----------------------------------------------------------------------------

  TEXT ELEMENTS
  
----------------------------------------------------------------------------- */

a {
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}