/* -----------------------------------------------------------------------------

  GRID OBJECT
  
----------------------------------------------------------------------------- */

.o-grid {
  overflow: hidden;
}

/**
 * Grid rows
 */

.o-grid__row {
  display: flex;
  flex-flow: row wrap;
}

.o-grid__row:last-child {
  margin-bottom: 0;
}

/**
 * Grid items
 */

.o-grid__item  {
  /**/
}

.o-grid__item--fill {
  flex: 1;
}

/**
 * Grid sizes
 */

.o-grid__item--25 {
  flex: 0 0 100%;
}

@include mq-small {

  .o-grid--break-s {
    
    .o-grid__row {
      margin: 0 -24px;
    }

    .o-grid__item--25 {
      flex: 0 0 50%;
      padding: 0 24px;
    }

  }

}

@include mq-medium {

  .o-grid--break-s {
    
    .o-grid__item--25 {
      flex: 0 0 25%;
    }

  }

}