/* -----------------------------------------------------------------------------

  CONTAINER OBJECTS
  
----------------------------------------------------------------------------- */

.o-container {
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.o-container--s {
  max-width: 720px;
}

.o-container--m {
  max-width: 960px;
}

.o-container--l {
  max-width: 1280px;
}

.o-container--pad-top {
  padding-top: 24px;
  padding-bottom: 24px;

  @include mq-large {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}