/* -----------------------------------------------------------------------------

  GRID OBJECT
  
----------------------------------------------------------------------------- */

.o-grid {
  /**/
}

/**
 * Grid rows
 */

.o-grid__row {
  display: flex;
}

.o-grid__row:last-child {
  margin-bottom: 0;
}

/**
 * Grid items
 */

.o-grid__item  {

}

.o-grid__item--fill {
  flex: 1;
}

/**
 * Grid sizes
 */